body {
  background: #401f71;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  color: #fdaf7b;
  width: 300px;
}
button {
  border: 1px solid #401f71;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #be7b72;
  color: #401f71;
}
button:hover {
  border: 1px solid #fdaf7b;
  background-color: #401f71;
  color: #fdaf7b;
}
.clock-time {
  border: 1px solid #be7b72;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 9px 2px #be7b72;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.main-list {
  text-align: center;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
.main-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.main-list::-webkit-scrollbar-track {
  background: #fdaf7b;
  width: 8px;
}

/* Handle */
.main-list::-webkit-scrollbar-thumb {
  background: #be7b72;
}
